*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: bisque;
}
.ANIMATION{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: blue;
    width: 90px;
    margin: 70px;
    animation-duration: 4s;
    animation-iteration-count: 6;
    animation-name: rfou;

   
} 
@keyframes rfou{
    from{
        transform:scale(3) ;
    }
}

@keyframes back{
    10%
    {
        from{
            transform: rotatey(
                360deg
            );
        }
    }
}
.second{ 
    
    
    background-color: red;
    width: 90px;
    display: flex;
    margin-bottom: 50px;
    animation-name: back;
    animation-iteration-count:5 ;
    animation-duration: 3s;
    transform: translateX(500px);
    
    

}
.thire{ margin: 200px;
    background-color: black;
    width: 90px;
    color: white;
    text-align: center;
    transform: scale(2,10);
    transform: translate(200px);
    animation-name: first ;
    animation-duration: 2s;
    animation-iteration-count: 4;
}

@keyframes first
{ 50%
    {     transform: translatey(150px);
        
    
}

 80%{     transform: translateX(150px);
    

}

  100%  {     transform: translatey(150px);
        
    
}

}

.thire{ margin: 200px;
    background-color: black;
    width: 90px;
    color: white;
    text-align: center;
    transform: scale(2,10);
    transform: translate(200px);
    animation-name: change ;
    animation-duration: 2s;
    animation-iteration-count: 4;

}

@keyframes change{ 
     
    10%{
        background-color: yellow;
    }
    100%{
        background-color: white;
    }
    40%{
        background-color: blue;
    }
    60%{
        background-color: pink;
    
    }
}

